@keyframes flasherYellow {
  50% {
    filter: drop-shadow(0px 0px 10px rgb(255, 255, 100));
    background-color: yellow;
    box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.3);
  }
}

@keyframes flasherBlue {
  50% {
    filter: drop-shadow(0px 0px 10px rgb(100, 100, 255));
    background-color: blue;
    box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.3);
  }
}

@keyframes flasherGreen {
  50% {
    filter: drop-shadow(0px 0px 10px green);
    background-color: green;
    box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.3);
  }
}

@keyframes flasherRed {
  50% {
    filter: drop-shadow(0px 0px 10px rgb(252, 55, 55));
    background-color: red;
    box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.3);
  }
}

@keyframes flasherWhite {
  50% {
    filter: drop-shadow(0px 0px 10px white);
    background-color: white;
    box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.3);
  }
}