#checkON_OFF {
  position: absolute;
  display: flex;

  top: 50%;
  right: 50%;
  transform: translate(50%, 50%);
}

#On_Off {
  width: 80px;
  height: 40px;

  background: rgb(195, 195, 224);
  font-size: medium;
}

#On_Off:active {
  background: rgb(180, 180, 224);
}