.lamp {
  display: flex;
  align-items: center;
  height: 70px;
  align-items: flex-end;
}
.lampsocket {
  position: absolute;
  display: flex;
  background-color: rgb(56, 43, 43);

  width: 40px;
  height: 40px;
  border-radius: 5px;
  
  transform: scale(.6)
  translateY(-35px);
}

.container1 { transform: translateY(12px); }
.container2 { transform: translateY(18px); }
.container3 { transform: translateY(21px); }