#topBar {
  display: flex;
}

.lightsCollection {
  display: flex;

  width: 100%;
  height: 50px;

  border-radius:0 0 100% 100%;
  border: white solid;
  
  justify-content: space-between;
}

.light {
  width: 35px;
  height: 35px;

  border-radius: 50%;
}

/* lamp colors */

.red, .red2, .red3 {
  background-color: rgb(131, 0, 0);
}

.blue, .blue2, .blue3 {
  background-color: rgb(0, 0, 146);
}

.yellow, .yellow2, .yellow3 {
  background-color: rgb(97, 97, 0);
}

.green, .green2, .green3 {
  background-color: rgb(0, 58, 0);
}

.white, .white2, .white3 {
  background-color: rgb(122, 122, 122);
}

/* lamps animations */

.redAnimation {
  background-color: red;
  animation: flasherRed infinite 2s;
}
.blueAnimation {
  background-color: blue;
  animation: flasherBlue infinite 2s;
}
.yellowAnimation {
  background-color: yellow;
  animation: flasherYellow infinite 2s;
}
.greenAnimation {
  background-color: green;
  animation: flasherGreen infinite 2s;
}
.whiteAnimation {
  background-color: white;
  animation: flasherWhite infinite 2s;
}

#lamp1-2 {animation-delay: 1s;}
#lamp1-4 {animation-delay: 1s;}

#lamp2-1 {animation-delay: 1s;}
#lamp2-3 {animation-delay: 1s;}
#lamp2-5 {animation-delay: 1s;}

#lamp3-2 {animation-delay: 1s;}
#lamp3-4 {animation-delay: 1s;}