#topBar {
  display: flex;
}

.lightsCollection {
  display: flex;

  width: 100%;
  height: 50px;

  border-radius:0 0 100% 100%;
  border: white solid;
  
  justify-content: space-between;
}

.light {
  width: 35px;
  height: 35px;

  border-radius: 50%;
}

.circle1 {
  transform: translateY(25px);
}
.circle2 {
  transform: translateY(33px);
}
.circle3 {
  transform: translateY(35px);
}
.circle4 {
  transform: translateY(33px);
}
.circle5 {
  transform: translateY(25px);
}

/* lamp colors */

.red {
  background-color: rgb(255, 0, 0);
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.white {
  background-color: white;
}

/* lamps animations */
/* 1 */
#lamp1-1 {
  animation: flasherRed infinite 2s;
}
#lamp1-2 {
  animation: flasherBlue infinite 2s;
  animation-delay: 1s;
}
#lamp1-3 {
  animation: flasherYellow infinite 2s;
}
#lamp1-4 {
  animation: flasherGreen infinite 2s;
  animation-delay: 1s;
}
#lamp1-5 {
  animation: flasherWhite infinite 2s;
}

/* 2 */
#lamp2-1 {
  animation: flasherYellow infinite 2s;
  animation-delay: 1s;
}
#lamp2-2 {
  animation: flasherGreen infinite 2s;
}
#lamp2-3 {
  animation: flasherRed infinite 2s;
  animation-delay: 1s;
}
#lamp2-4 {
  animation: flasherWhite infinite 2s;
}
#lamp2-5 {
  animation: flasherBlue infinite 2s;
  animation-delay: 1s;
}

/* 3 */
#lamp3-1 {
  animation: flasherGreen infinite 2s;
}
#lamp3-2 {
  animation: flasherYellow infinite 2s;
  animation-delay: 1s;
}
#lamp3-3 {
  animation: flasherWhite infinite 2s;
}
#lamp3-4 {
  animation: flasherBlue infinite 2s;
  animation-delay: 1s;
}
#lamp3-5 {
  animation: flasherRed infinite 2s;
}

/* 4 */
#lamp4-1 {
  animation: flasherWhite infinite 2s;
  animation-delay: 1s;
}
#lamp4-2 {
  animation: flasherRed infinite 2s;
}
#lamp4-3 {
  animation: flasherGreen infinite 2s;
  animation-delay: 1s;
}
#lamp4-4 {
  animation: flasherBlue infinite 2s;
}
#lamp4-5 {
animation: flasherYellow infinite 2s;
  animation-delay: 1s;
}

/* 5 */
#lamp5-1 {
  animation: flasherBlue infinite 2s;
}
#lamp5-2 {
  animation: flasherYellow infinite 2s;
  animation-delay: 1s;
}
#lamp5-3 {
  animation: flasherWhite infinite 2s;
}
#lamp5-4 {
  animation: flasherRed infinite 2s;
  animation-delay: 1s;
}
#lamp5-5 {
  animation: flasherGreen infinite 2s;
}