#topBar {
  display: flex;
}

.lightsCollection {
  display: flex;

  width: 100%;
  height: 50px;

  border-radius:0 0 100% 100%;
  border: white solid;
  
  justify-content: space-between;
}

.light {
  width: 35px;
  height: 35px;

  border-radius: 50%;
}

.circle1 {
  transform: translateY(25px);
}
.circle2 {
  transform: translateY(33px);
}
.circle3 {
  transform: translateY(35px);
}
.circle4 {
  transform: translateY(33px);
}
.circle5 {
  transform: translateY(25px);
}

/* lamp colors */

.red {
  background-color: rgb(255, 0, 0);
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.white {
  background-color: white;
}
